**Concatenate each reformatted CSV file into 1 dataframe and LOAD it into a PostgreSQL database.**

In [1]:
import pandas as pd
import glob
import os

**Concatenate all reformatted csv's into 1 dataframe**

In [2]:
path = '/Users/graemebalint/Documents/Python/Jupyter Notebooks/Canadian Businesses/csv_reformatted'

all_files = glob.glob(os.path.join(path, "*.csv"))
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

concat_df = pd.concat(li, axis=0, ignore_index=True)

/var/folders/lm/g6mgw7vd5_d3xjgrm7k7tvz00000gn/T/ipykernel_42126/1577801597.py:7: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=None, header=0)

In [3]:
concat_df

,License Number,Business Name,Category,Issue Date,Expiry Date,Phone Number,Phone Ext.,Phone Type,Address,City
0,100001421-002,INTERIOR ILLUSIONS,General Business,2021-09-24,2022-09-24,NaN,NaN,NaN,NaN,Edmonton
1,101224086-002,OPENING DOORS,General Business,2021-11-02,2022-11-04,NaN,NaN,NaN,NaN,Edmonton
2,101481614-002,AGP TRUCKING LTD,Delivery/Transportation Services,2021-09-22,2022-10-13,NaN,NaN,NaN,NaN,Edmonton
3,101988181-003,ELEGANT MOTORS,Vehicle Repair,2021-03-08,2022-04-17,NaN,NaN,NaN,NaN,Edmonton
4,102754139-004,HAIRCANDY,Minor Retail Store,2021-11-25,2022-12-07,NaN,NaN,NaN,NaN,Edmonton
...,...,...,...,...,...,...,...,...,...,...
229332,NaN,ST JAMES CORNER RESTAURANT AND IRISH PUB,ALCOHOL BEVERAGE SALES (DRINKING EST/RESTAURANT),2004-08-20,NaN,NaN,NaN,NaN,1219 1 ST SW,Calgary
229333,NaN,OUTER SPACE STORAGE,WAREHOUSING,2003-10-15,NaN,NaN,NaN,NaN,#100 4279 120 AV SE,Calgary
229334,NaN,EL VAPE,RETAIL DEALER - PREMISES,2021-06-15,NaN,NaN,NaN,NaN,399 17 AV SW,Calgary
229335,NaN,HAIRITAGE STUDIO (THE),RETAIL DEALER - PREMISES,2021-11-03,NaN,NaN,NaN,NaN,#24 20 DOUGLAS WOODS DR SE,Calgary
229336,NaN,BARBER (THE),RETAIL DEALER - PREMISES,2014-10-22,NaN,NaN,NaN,NaN,#4054 356 CRANSTON RD SE,Calgary

**Check the dtypes of each column in the dataframe**

In [4]:
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229337 entries, 0 to 229336
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   License Number  193622 non-null  object
 1   Business Name   201097 non-null  object
 2   Category        229337 non-null  object
 3   Issue Date      229335 non-null  object
 4   Expiry Date     39394 non-null   object
 5   Phone Number    16659 non-null   object
 6   Phone Ext.      814 non-null     float64
 7   Phone Type      361 non-null     object
 8   Address         189882 non-null  object
 9   City            229337 non-null  object
dtypes: float64(1), object(9)
memory usage: 17.5+ MB

**Convert all texts to title case**

In [5]:
concat_df['Category']=concat_df['Category'].apply(lambda x: str(x).title())
concat_df['Business Name']=concat_df['Business Name'].apply(lambda x: str(x).title())
concat_df['Address']=concat_df['Address'].apply(lambda x: str(x).title())

**Convert dates to datetime**

In [6]:
concat_df['Issue Date'] = pd.to_datetime(concat_df['Issue Date'])
concat_df['Expiry Date'] = pd.to_datetime(concat_df['Expiry Date'])

**Comparing the output of conact_df.info() from In[5], we can see the date Series are now datetime64[ns]**

In [7]:
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229337 entries, 0 to 229336
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   License Number  193622 non-null  object
 1   Business Name   229337 non-null  object
 2   Category        229337 non-null  object
 3   Issue Date      229335 non-null  datetime64[ns]
 4   Expiry Date     39394 non-null   datetime64[ns]
 5   Phone Number    16659 non-null   object
 6   Phone Ext.      814 non-null     float64
 7   Phone Type      361 non-null     object
 8   Address         229337 non-null  object
 9   City            229337 non-null  object
dtypes: datetime64[ns](2), float64(1), object(7)
memory usage: 17.5+ MB

In [8]:
from sqlalchemy import create_engine

**Final step of ETL pipeline! Load the transformed data into PostgreSQL database hosted by Bit.io**

In [9]:
try:  
    engine = create_engine('postgresql://graemebalint:v2_3z7wt_7NTReEsrUtQFabpTyWmYs5z@db.bit.io:5432/graemebalint/data_etl')
    concat_df.to_sql('data', con=engine, if_exists='replace', index=False)
except:
    print("Something isn't quite right.")
else:
    print("Data succesfully imported into PostreSQL database.")

Data succesfully imported into PostreSQL database.

**Link to PostgreSQL database: https://bit.io/graemebalint/data_etl**

**That completes my ETL pipeline demo. Thanks for checking it out!**